<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>List Homes</title>
</head>

<body id='home-background'>
    <header>
        <nav class="nav-wrapper">

            <a href="/Homes" class="brand-logo left">AIR B & LET B</a>
            <ul class="right">

                <li> <a href="/Homes">Home</a> </li>
                <li> <a href="/About">About</a></li>
                <li> <a href="/Homes/<%= user._id %>">Become A Host</a></li>
                <li> <a href="/Homes/<%= user._id %>/myHomes">My Homes</a></li>
                <li> <a href="/Homes/<%= user._id %>/myStays">My Stays</a></li>
                <% if (user) { %>
                <li> <a href="/logout"><%=user.name%></a></li>

                <% } else { %>
                <li> <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a></li>
                <% } %>
            </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class='scroll-container'>
            <div>
                <p style="padding-left: 45px; color: #ee6e73; background-color: white; text-align: center">Please Select
                    A
                    Property To View
                    Details</p>
            </div>
            <% homes.forEach((home, idx)=>{ %>
            <a href="/Homes/<%= home._id %>/detail">
                <% if (idx % 2 === 0){ %>
                <div class='pink-container'>
                    <% } else { %>
                    <div class='gray-container'>
                        <% } %>
                        <img src="<%= home.image %>" style="
                        width: 62%;
                    " />
                        <br>
                        <label>Address</label>
                        <p><%= home.address%></p>
                        <label>City</label>
                        <p><%= home.city%></p>
                        <label>Price Per Night</label>
                        <p>$<%= home.pricePerNight %></p>
                    </div>
            </a>

            <% }); %>
        </div>
    </div>
</body>

</html>