<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>

<body>
    <div class='details-view'>
        <p><%= home.address %></p>
        <p><%= home.city %></p>
        <p><%= home.description %></p>
        <p><%= home.calander %></p>
        <p><%= home.name %></p>

    </div>
</body>

</html>